@import "tailwindcss";

@theme inline {
  --font-display: var(--font-poppins), "Poppins", sans-serif;
  --font-sans: var(--font-poppins), "Poppins", sans-serif;
  --font-mono: var(--font-poppins), "Poppins", sans-serif;

  --color-plum-black: #14131C;
  --color-graphite-plum: #211F2B;
  --color-off-white: #EDEBF2;
  --color-lavender-gray: #8B889C;
  --color-coral-spotlight: #FF5470;
  --color-lime: #C6FF5C;
  --color-border-dark: #33313F;

  --color-ivory: #F7F4EF;
  --color-white-pure: #FFFFFF;
  --color-dark-plum: #1D1B24;
  --color-abu-ungu: #6B6875;
  --color-coral-gelap: #E63950;
  --color-lime-pucat: #EAF5D0;
  --color-olive-gelap: #4B7A23;
  --color-border-hangat: #E5E1DA;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-plum-black);
  color: var(--color-off-white);
  font-family: var(--font-sans);
}
